[submodule "deps/opencv_contrib"]
	path = deps/opencv_contrib
	url = https://github.com/opencv/opencv_contrib.git
[submodule "deps/opencv"]
	path = deps/opencv
	url = https://github.com/opencv/opencv.git
[submodule "deps/websocketapp"]
	path = deps/websocketapp
	url = https://github.com/zaphoyd/websocketpp.git

[submodule "deps/DM_Count"]
	path = deps/DM_Count
	url = https://github.com/cvlab-stonybrook/DM-Count.git
